{{=<% %>=}}
[
    {<% name %>, [
        {http, [
            {<% name %>_http, ${HTTP_PORT}}
        ]},
        {redis, [
            {host, "${REDIS_HOST}"},
            {port, ${REDIS_PORT}},
            {database, ${REDIS_DB}},
            {password, "${REDIS_PASS}"},
            {connect_timeout, 5000},
            {reconnect_after, 100}
        ]},
        {snatch, [
            {xmpp, [
                {host, "${XMPP_HOST}"},
                {port, ${XMPP_PORT}},
                {domain, <<"${XMPP_DOMAIN}">>},
                {password, <<"${XMPP_SECRET}">>}
            ]},
            {kafka, [
                {endpoints, [{"localhost", 9092}]},
                {in_topics, [{<<"<% name %>.in">>, [0]}]},
                {raw, true}
            ]},
            {rest, [
                {domain, "localhost"},
                {port, 80},
                {schema, "http"},
                {max_sessions, 10},
                {max_pipeline_size, 1}
            ]}
        ]}
    ]},
    {sasl, [
        {sasl_error_logger, {file, "log/sasl-error.log"}},
        {errlog_type, all},
        {error_logger_mf_dir, "log/sasl"},
        {error_logger_mf_maxbytes, 1024},
        {error_logger_mf_maxfiles, 10}
    ]},
    {lager, [
        {handlers, [
            {lager_console_backend, [
                {level, info}
            ]}
        ]},
        {crash_log, "log/crash.log"},
        {async_threshold, undefined},
        {async_threshold_window, undefined},
        {crash_log_msg_size, 65536},
        {crash_log_size, 10485760},
        {crash_log_date, "$D0"},
        {crash_log_count, 5},
        {error_logger_redirect, true}
    ]},
    {prometheus, [
        {prometheus_http, [
            {path, "/metrics"},
            {format, auto},
            {registry, auto},
            {telemetry_registry, default},
            {port, 8081},
            {authorization, false}
        ]},
        {default_metrics, [
            {histogram, [{name, users_session_duration_seconds},
                         {labels, [usertype]},
                         {buckets, [30, 60, 300, 600, 900, 1800, 3600]},
                         {help, "User session duration in secs"}]},
            {gauge, [{name, redis_pool},
                     {help, "Size of the redis pool requirements"}]},
            {counter, [{name, stanza_counter},
                       {help, "The stanza number of elements handled"}]},
            {summary, [{name, xmpp_kb_sent},
                       {help, "Size of the stanzas sent to XMPP server"}]}
        ]}
    ]}
].
<%={{ }}=%>
