{{=<% %>=}}
{erl_opts, [
    debug_info,
    warnings_as_errors,
    {parse_transform, lager_transform}
]}.

{deps,[
    {recon, "2.3.2"},
    {elli, "1.0.5"},
    {lager, "3.5.1"},
    {eredis, "1.1.0"},
    {snatch, {git, "https://github.com/manuel-rubio/snatch.git", {branch, "master"}}},
    {prometheus, "3.4.1"},
    {prometheus_httpd, "2.1.4"},
    {poolboy, "1.5.1"},
    {jsone, "1.4.5"}
]}.

{relx, [
    {release, {'<% name %>', "0.1.0"}, [
        elli,
        poolboy,
        eredis,
        prometheus,
        prometheus_httpd,
        crypto,
        '<% name %>'
    ]},

    {vm_args, "config/vm.args"},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true},
    {overlay, [
        {copy, "script/start-prod.sh", "bin/start-prod.sh"},
        {copy, "config/sys.config", "releases/{{release_version}}/sys.config"}
    ]}
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
{eunit_opts, [verbose]}.

{profiles, [
    {dev, [
        {erl_opts, [{d, 'TEST'}]},
        {deps, [eper]}
    ]},
    {prod, [
        {plugins, [
            {skeletor, {git, "<% git_access %>communications/skeletor.git", {branch, "development"}}}
        ]},
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]},
    {doc, [
        {plugins, [
            {rebar_edown_plugin,
                {git, "git://github.com/altenwald/rebar_edown_plugin.git", {branch, "master"}}
            }
        ]},

        {edoc_opts,[
            {doclet, edown_doclet},
            {edown_target, gitlab},
            {top_level_readme, {"./README.md", "https://git.knoopje.com/<% git_project %>.git"}}
        ]}
    ]}
]}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
              deprecated_function_calls,deprecated_functions]}.
<%={{ }}=%>
