[
    {veon, [
        {http, [
            {veon_http, 8000}
        ]},
        {redis, [
            {host, "127.0.0.1"},
            {port, 6379},
            {database, 0},
            {password, ""},
            {connect_timeout, 5000},
            {reconnect_after, 100}
        ]},
        {xmpp, [
            {host, "localhost"},
            {port, 8888},
            {domain, <<"comp.localhost">>},
            {password, <<"secret">>}
        ]}
    ]},
    {sasl, [
        {sasl_error_logger, {file, "log/sasl-error.log"}},
        {errlog_type, all},
        {error_logger_mf_dir, "log/sasl"},
        {error_logger_mf_maxbytes, 1024},
        {error_logger_mf_maxfiles, 10}
    ]},
    {lager, [
        {handlers, [
            {lager_console_backend, info}
        ]},
        {crash_log, "log/crash.log"},
        {async_threshold, undefined},
        {async_threshold_window, undefined},
        {crash_log_msg_size, 65536},
        {crash_log_size, 10485760},
        {crash_log_date, "$D0"},
        {crash_log_count, 5},
        {error_logger_redirect, true}
    ]},
    {prometheus, [
        {prometheus_http, [
            {path, "/metrics"},
            {format, auto},
            {registry, auto},
            {telemetry_registry, default},
            {port, 8081},
            {authorization, false}
        ]}
    ]}
].
